<div class="container">

  <div class="form-group mt-5">
    <%= form_with url: '/search', method: :get, remote: true do |form| %>
      <%= form.text_field :search, class: "form-control", placeholder: "Enter your search"%>
      <%= form.submit "Search", class: "btn btn-primary my-3" %>
    <% end %>
  </div>

<table class="table">
  <tbody id="table-body">
      <% @json_data.each do |data| %>
    <tr>
      <td><%= data['Name'] %></td>
      <td><%= data['Type'] %></td>
      <td><%= data['Designed by'] %></td>
    </tr>
      <% end %>
   </tbody>
</table>

</div>
<%= javascript_pack_tag 'search' %>
